
SIS-QSF/.vs/SIS-QSF/v15/Server/sqlite3/storage.ide-shm
SIS-QSF/.vs/SIS-QSF/v15/Server/sqlite3/storage.ide-wal
SIS-QSF/FrontEnd/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
SIS-QSF/FrontEnd/obj/Debug/FrontEnd.csproj.CoreCompileInputs.cache
SIS-QSF/FrontEnd/obj/Debug/FrontEnd.csprojAssemblyReference.cache
SIS-QSF/.vs/SIS-QSF/v15/Server/sqlite3/storage.ide-wal
SIS-QSF/.vs/config/applicationhost.config
SIS-QSF/.vs/SIS-QSF/v15/.suo
SIS-QSF/.vs/SIS-QSF/v15/Server/sqlite3/storage.ide
SIS-QSF/.vs/SIS-QSF/v15/Server/sqlite3/storage.ide-shm
SIS-QSF/Backend/bin/Debug/Backend.dll
SIS-QSF/Backend/bin/Debug/Backend.pdb
SIS-QSF/Backend/obj/Debug/BackEnd.csproj.CoreCompileInputs.cache
SIS-QSF/Backend/obj/Debug/Backend.csproj.FileListAbsolute.txt
SIS-QSF/Backend/obj/Debug/BackEnd.csprojAssemblyReference.cache
SIS-QSF/Backend/obj/Debug/Backend.dll
SIS-QSF/Backend/obj/Debug/Backend.pdb
SIS-QSF/FrontEnd/bin/Backend.dll
SIS-QSF/FrontEnd/bin/Backend.pdb
SIS-QSF/FrontEnd/bin/FrontEnd.dll
SIS-QSF/FrontEnd/bin/FrontEnd.pdb
SIS-QSF/FrontEnd/FrontEnd.csproj
SIS-QSF/FrontEnd/obj/Debug/FrontEnd.csproj.FileListAbsolute.txt
SIS-QSF/FrontEnd/obj/Debug/FrontEnd.csprojAssemblyReference.cache
SIS-QSF/FrontEnd/obj/Debug/FrontEnd.dll
SIS-QSF/FrontEnd/obj/Debug/FrontEnd.pdb
SIS-QSF/.vs/config/applicationhost.config
SIS-QSF/.vs/SIS-QSF/DesignTimeBuild/.dtbcache
SIS-QSF/.vs/SIS-QSF/v15/.suo
SIS-QSF/.vs/SIS-QSF/v15/Server/sqlite3/storage.ide
SIS-QSF/.vs/SIS-QSF/v15/Server/sqlite3/storage.ide-shm
SIS-QSF/.vs/SIS-QSF/v15/Server/sqlite3/storage.ide-wal
SIS-QSF/Backend/bin/Debug/Backend.dll
SIS-QSF/Backend/bin/Debug/Backend.pdb
SIS-QSF/Backend/obj/Debug/Backend.dll
SIS-QSF/Backend/obj/Debug/Backend.pdb
SIS-QSF/FrontEnd/bin/Backend.dll
SIS-QSF/FrontEnd/bin/Backend.pdb
SIS-QSF/FrontEnd/bin/FrontEnd.dll
SIS-QSF/FrontEnd/bin/FrontEnd.pdb
SIS-QSF/FrontEnd/FrontEnd.csproj
SIS-QSF/FrontEnd/FrontEnd.csproj.user
SIS-QSF/FrontEnd/obj/Debug/FrontEnd.csprojAssemblyReference.cache
SIS-QSF/FrontEnd/obj/Debug/FrontEnd.dll
SIS-QSF/FrontEnd/obj/Debug/FrontEnd.pdb
SIS-QSF/.vs/SIS-QSF/v15/.suo
SIS-QSF/.vs/SIS-QSF/v15/Server/sqlite3/storage.ide-shm
SIS-QSF/Backend/obj/Debug/BackEnd.csproj.CoreCompileInputs.cache
SIS-QSF/Backend/obj/Debug/BackEnd.csprojAssemblyReference.cache
SIS-QSF/FrontEnd/obj/Debug/FrontEnd.csproj.CoreCompileInputs.cache
SIS-QSF/FrontEnd/obj/Debug/FrontEnd.csprojAssemblyReference.cache
SIS-QSF/.vs/SIS-QSF/DesignTimeBuild/.dtbcache
SIS-QSF/.vs/SIS-QSF/v15/.suo
SIS-QSF/.vs/SIS-QSF/v15/Server/sqlite3/storage.ide-wal
*.pdb
*.pdb
SIS-QSF/FrontEnd/obj/Debug/FrontEnd.pdb
SIS-QSF/FrontEnd/obj/Debug/FrontEnd.dll
SIS-QSF/FrontEnd/obj/Debug/FrontEnd.csprojAssemblyReference.cache
SIS-QSF/FrontEnd/obj/Debug/FrontEnd.csproj.CoreCompileInputs.cache
SIS-QSF/FrontEnd/bin/FrontEnd.pdb
SIS-QSF/FrontEnd/bin/FrontEnd.dll
SIS-QSF/Backend/obj/Debug/BackEnd.csprojAssemblyReference.cache
SIS-QSF/Backend/obj/Debug/BackEnd.csproj.CoreCompileInputs.cache
SIS-QSF/.vs/SIS-QSF/v15/Server/sqlite3/storage.ide-wal
SIS-QSF/.vs/SIS-QSF/v15/Server/sqlite3/storage.ide-shm
SIS-QSF/.vs/SIS-QSF/v15/.suo
SIS-QSF/FrontEnd/obj/Debug/FrontEnd.pdb
SIS-QSF/FrontEnd/obj/Debug/FrontEnd.dll
SIS-QSF/FrontEnd/bin/FrontEnd.pdb
SIS-QSF/FrontEnd/bin/FrontEnd.dll
SIS-QSF/.vs/SIS-QSF/v15/Server/sqlite3/storage.ide-wal
SIS-QSF/.vs/SIS-QSF/v15/Server/sqlite3/storage.ide-shm
SIS-QSF/.vs/SIS-QSF/v15/Server/sqlite3/storage.ide
SIS-QSF/.vs/SIS-QSF/v15/.suo
