
SIS-QSF/.vs/SIS-QSF/v15/Server/sqlite3/storage.ide-shm
SIS-QSF/.vs/SIS-QSF/v15/Server/sqlite3/storage.ide-wal
SIS-QSF/FrontEnd/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
SIS-QSF/FrontEnd/obj/Debug/FrontEnd.csproj.CoreCompileInputs.cache
SIS-QSF/FrontEnd/obj/Debug/FrontEnd.csprojAssemblyReference.cache
